# Here we learn how to convert a csv to txt file to create a table in SQL 

## #Because importing csv file (large) takes a lot of time in sql

## Importing Pandas Library

In [ ]:
import pandas as pd

## Reading CSV file

In [ ]:
f1 = pd.read_csv('airline.csv')

## Seeing the data set

In [ ]:
f1.head()

## Checking any null values are present or not

In [ ]:
f1.isnull().sum()

## Seeing the data types

In [ ]:
f1.dtypes

## Converting date into datetime datatype

In [ ]:
f1['FlightDate'] = pd.to_datetime(f1['FlightDate'],dayfirst=True)

## Coverting row data into elemental data with comma delimiter using tuple and list

In [ ]:
y = []

for i in range(len(f1)):
    x = tuple(f1.iloc[i])
    y.append(x)

y

## Creating Text file using the above List of data

In [ ]:
file = open('airline.txt','w')

for tuple in y:
    file.write(str(tuple) + ',' + '\n')
    
file.close()